.header {
  align-items: center;
  background-color: white;
  display: flex;
  padding-left: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navContainer {
  margin-left: 50px;
}

.navButton {
  margin: 5px 15px;
}